<div (click)="showSubject()" *ngIf="subjectSelected" class="blur">
</div>

<div *ngIf="subjectSelected" class="subject-card">
  <app-subject [subject]="selectedSubject"></app-subject>
</div>


<div class="performance">

  <div class="student-info">
    <div class="student-photo" style="background-image:url('{{results.student_photo}}');">
      <!-- <img [src]="results.student_photo" alt="student's photo"> -->
    </div>
    <div class="details">
      <h1 class="student-name">{{results.student_name}}</h1>
      <div class="student-no">Adm. No. {{results.student_admission_number}}</div>
      <div class="student-class">Form {{results.class_name}}</div>
    </div>
  </div>

  <h2>{{results.exam_name}} Results</h2>

  <div class="exam-results">
    <div class="subjects">
      <table>
        <thead>
          <th class="subject">Subject</th>
          <th>Score</th>
          <th>Grade</th>
        </thead>
        <tbody>
          <tr *ngFor="let result of subjectResults; index as count" (click)="showSubject(result)">
            <td class="subject"><span class="count">{{count+1}}</span> {{result.subject_name}}</td>
            <td>
              {{result.score}}
              <span class="score-deviation">
                <span *ngIf="result.deviation < 0">
                  <svg class="down" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/></svg>
                </span>
                <span *ngIf="result.deviation > 0">
                  <svg class="up" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"/></svg>
                </span>
                <span *ngIf="result.deviation === 0">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 12l-4-4v3H3v2h15v3l4-4z"/></svg>
                </span>
              </span>
            </td>
            <td>{{result.grade}}</td>
          </tr>
        </tbody>
      </table>  
    </div>
    
    <div class="summary"> 
      <h3>Mean</h3>
      <div class="mean">
        <div class="marks">
          <div class="big">{{meanMarks.avg_score}}</div>
          <div *ngIf="meanMarks.deviation < 0">
            {{meanMarks.deviation}}
            <svg class="down" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/></svg>
          </div>
          <div *ngIf="meanMarks.deviation > 0">
            +{{meanMarks.deviation}}
            <svg class="up" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"/></svg>
          </div>
          <div *ngIf="meanMarks.deviation === 0">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 12l-4-4v3H3v2h15v3l4-4z"/></svg>
          </div>
          <div role="heading" class="label">Marks</div>
        </div>
        <div class="grade">
          <div class="big">{{results.mean_grade}}</div>
          <div role="heading" class="label">Grade</div>
        </div>
      </div>

      <h3>Position</h3>
      <div class="position">
        <div class="stream">
          <div><span class="big">{{streamPosition.position}}</span> / {{streamPosition.position_out_of}}</div>
          <div *ngIf="streamPosition.deviation < 0">
            -{{streamPosition.deviation}}
            <svg class="down" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/></svg>
          </div>
          <div *ngIf="streamPosition.deviation > 0">
            +{{streamPosition.deviation}}
            <svg class="up" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"/></svg>
          </div>
          <div *ngIf="streamPosition.deviation === 0">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 12l-4-4v3H3v2h15v3l4-4z"/></svg>
          </div>
          <div role="heading" class="label">Stream</div>
        </div>
        <div class="overall">
          <div><span class="big">{{overallPosition.position}}</span> / {{overallPosition.position_out_of}}</div>
          <div *ngIf="overallPosition.deviation < 0">
            -{{overallPosition.deviation}}
            <svg class="down" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/></svg>
          </div>
          <div *ngIf="overallPosition.deviation > 0">
            +{{overallPosition.deviation}}
            <svg class="up" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"/></svg>
          </div>
          <div *ngIf="overallPosition.deviation === 0">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 12l-4-4v3H3v2h15v3l4-4z"/></svg>
          </div>
          <div role="heading" class="label">Overall</div>
        </div>  
      </div>

      <div>
        <h3>Remarks</h3>
        <div class="remark">
          <q>{{results.principals_remarks}}</q>
           <div class="by">- Principal</div>
        </div>
        <div class="remark">
          <q>{{results.class_teachers_remarks}}</q>
          <div class="by">- Class Teacher</div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="performance-history">
  <h2>Perfomance History</h2>
  <div class="history-graph">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="lineChartColors">
    </canvas>
  </div>
</div>
